incubadora/n8n_workflows/01_daily_content_generation.json
{
    "name": "01 - Geração Diária (Multi-Canal)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hours": 8
                        }
                    ]
                }
            },
            "name": "Trigger Diário 08:00",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "command": "ls /home/ubuntu/incubadora/canais"
            },
            "name": "Listar Canais",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "const output = items[0].json.stdout.split('\\n').filter(Boolean);\nreturn output.map(canal => ({ json: { canal } }));"
            },
            "name": "Split Canais",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "command": "=cd /home/ubuntu/incubadora && python3 run_agents.py --canal {{$json.canal}}"
            },
            "name": "Gerar Conteúdo (Por Canal)",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Trigger Diário 08:00": {
            "main": [
                [
                    {
                        "node": "Listar Canais",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Listar Canais": {
            "main": [
                [
                    {
                        "node": "Split Canais",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Canais": {
            "main": [
                [
                    {
                        "node": "Gerar Conteúdo (Por Canal)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}