incubadora/n8n_workflows/02_instagram_posting.json
{
    "name": "02 - Postagem Instagram Reels",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hours": 18
                        }
                    ]
                }
            },
            "name": "Trigger 18:00",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "command": "cd /home/ubuntu/incubadora && python3 -c \"from agentes.agente_08_instagram import Agente08Instagram; agent = Agente08Instagram(); agent.postar_reels('/home/ubuntu/incubadora/output/video_final.mp4', 'Conteúdo automático gerado via IA #jesus #finanças')\""
            },
            "name": "Postar Instagram",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "content": "📸 Reels postado no Instagram!"
            },
            "name": "Sucesso",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                650,
                200
            ]
        },
        {
            "parameters": {
                "content": "❌ Falha no Instagram: {{$json.error}}"
            },
            "name": "Erro",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                650,
                400
            ]
        }
    ],
    "connections": {
        "Trigger 18:00": {
            "main": [
                [
                    {
                        "node": "Postar Instagram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Postar Instagram": {
            "main": [
                [
                    {
                        "node": "Sucesso",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Erro",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}