incubadora/n8n_workflows/09_auto_retry.json
{
    "name": "09 - Retry Autom치tico de Falhas",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hours": 1
                        }
                    ]
                }
            },
            "name": "Check Hourly",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "command": "ls /home/ubuntu/incubadora/output/failed_*.json 2>/dev/null || echo 'none'"
            },
            "name": "Verificar Falhas",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{$json.stdout}}",
                            "operation": "notContains",
                            "value2": "none"
                        }
                    ]
                }
            },
            "name": "H치 Falhas?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "command": "cd /home/ubuntu/incubadora && python3 run_agents.py --retry"
            },
            "name": "Reprocessar",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                850,
                400
            ]
        },
        {
            "parameters": {
                "content": "游댃 Reprocessamento conclu칤do!"
            },
            "name": "Retry Sucesso",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1050,
                400
            ]
        },
        {
            "parameters": {
                "content": "游녧 Sem falhas pendentes"
            },
            "name": "Sem Falhas",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                850,
                200
            ]
        }
    ],
    "connections": {
        "Check Hourly": {
            "main": [
                [
                    {
                        "node": "Verificar Falhas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verificar Falhas": {
            "main": [
                [
                    {
                        "node": "H치 Falhas?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "H치 Falhas?": {
            "main": [
                [
                    {
                        "node": "Sem Falhas",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Reprocessar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Reprocessar": {
            "main": [
                [
                    {
                        "node": "Retry Sucesso",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}